## WEB SCRAPING – ASSIGNMENT 2 (Selenium web scraping )

In [124]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import csv
import warnings
warnings.filterwarnings("ignore")

In [262]:
driver = webdriver.Chrome("chromedriver.exe")

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [125]:
# specifies the path to the chromedriver.exe:
driver = webdriver.Chrome(r"C:\driver\chromedriver.exe")

In [126]:
#passing url:
url='https://www.naukri.com/'
driver.get(url)

In [127]:
#search job using id:
search_job=driver.find_element_by_class_name('suggestor-input')
search_job

In [128]:
#search job:
search_job.send_keys('Data analyst')

In [130]:
#search location using absolute xpath:
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [132]:
#providing location for job:
search_loc.send_keys('Banglore')

In [134]:
search_bar=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_bar.click()

In [136]:
#creating a dictionary for storing the information after scraping
#for each job we will scrape the job-title, job-location, company_name, experience_required.

# for job title:
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title = []
for i in title:
    job_title.append(i.text)
    
job_title[:10]

['Hiring Data Analyst For Global Logic-Immediate Joiner',
 'Senior Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Assistant Clinical Data Analyst',
 'Lead - Data Analyst / Scientist',
 'Data Analyst / Sr. Data Analyst',
 'Senior Data Analyst - CRM',
 'Senior Data Analyst - Supporting Audits',
 'Research - Data Analyst / Associate',
 'Data Analyst 1']

In [137]:
#for job location:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc = []

for i in loc:
    job_loc.append(i.text)
    
job_loc[:10]

['Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bengaluru/Bangalore',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [138]:
# for job company name:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]

for i in comp:
    company.append(i.text)
    
company[:10]

['GlobalLogic',
 'Flipkart',
 'Sejal Consulting Hub',
 'Labcorp Drug Development India Private Limited',
 'Axim Technologies',
 'Vmware',
 'Gojek Tech',
 'Visa',
 'AXL HR Tech',
 'Optum Global Solutions (India) Private Limited']

In [135]:
# for experience required:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience=[]

for i in exp:
    experience.append(i.text)
    
experience[:10]

['4-8 Yrs',
 '4-6 Yrs',
 '0-3 Yrs',
 '0-2 Yrs',
 '12-14 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '0-2 Yrs',
 '4-9 Yrs']

In [139]:
# Data Frame of the job-title, job-location, company_name, experience_required: 

job_data_analyst=pd.DataFrame({'Job Title':job_title,"Job Location":job_loc,"Company name":company,"Experience required":experience})

job_data_analyst.head(10)

,Job Title,Job Location,Company name,Experience required
0,Hiring Data Analyst For Global Logic-Immediate...,"Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalo...",GlobalLogic,4-8 Yrs
1,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-6 Yrs
2,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Sejal Consulting Hub,0-3 Yrs
3,Assistant Clinical Data Analyst,Bangalore/Bengaluru,Labcorp Drug Development India Private Limited,0-2 Yrs
4,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
5,Data Analyst / Sr. Data Analyst,Bangalore/Bengaluru,Vmware,3-6 Yrs
6,Senior Data Analyst - CRM,Bangalore/Bengaluru,Gojek Tech,2-5 Yrs
7,Senior Data Analyst - Supporting Audits,Bangalore/Bengaluru,Visa,5-8 Yrs
8,Research - Data Analyst / Associate,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",AXL HR Tech,0-2 Yrs
9,Data Analyst 1,Bangalore/Bengaluru,Optum Global Solutions (India) Private Limited,4-9 Yrs

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [140]:
# connect to web driver path:
driver=webdriver.Chrome('chromedriver.exe')

In [141]:
#passing url:
url='https://www.naukri.com/'
driver.get(url)

In [143]:
#search job using id:
search_job=driver.find_element_by_class_name('suggestor-input')
search_job

In [144]:
#search job:
search_job.send_keys('Data scientist')

In [145]:
#search location using absolute xpath:
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [147]:
#providing location for job:
search_loc.send_keys('Banglore')

In [149]:
#search bar:
search_bar=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_bar.click()

In [150]:
#creating a dictionary for storing the information after scraping
#for each job we will scrape the job-title, job-location, company_name, experience_required.

# for job title:
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title = []
for i in title:
    job_title.append(i.text)

    
# for job location
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc = []

for i in loc:
    job_loc.append(i.text)
    
    
# for job company name
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]

for i in comp:
    company.append(i.text)
    
    
# for experience required
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience=[]

for i in exp:
    experience.append(i.text)

In [151]:
# creat Data Frame of the job-title, job-location, company_name, experience_required: 
# Data scientist as DS
DS_jobs_df=pd.DataFrame({'Job Title':job_title,"Job Location":job_loc,"Company name":company,"Experience required":experience})
DS_jobs_df.head(10)

,Job Title,Job Location,Company name,Experience required
0,Senior Data Scientist /Senior Software Engineer,"Kochi/Cochin, Hyderabad/Secunderabad, Bangalor...",Terawe Technologies Pvt. Ltd.,6-10 Yrs
1,Sr . Data Scientist,Bangalore/Bengaluru,Harman Connected Services Corporation India Pvt.,8-10 Yrs
2,Sr Data Scientist,Bangalore/Bengaluru,Siemens,0-6 Yrs
3,Senior Data Scientist,Bangalore/Bengaluru,Dell,5-8 Yrs
4,Senior Data Scientist,Bangalore/Bengaluru,Dell,8-12 Yrs
5,Senior/Lead Data Scientist - (Revenue Management),Bangalore/Bengaluru,o9 Solutions Management India Private Limited,4-9 Yrs
6,Senior/Lead - Data Scientist (Supply Chain),Bangalore/Bengaluru,o9 Solutions Management India Private Limited,4-9 Yrs
7,Associate Data Scientist,"Chennai, Bangalore/Bengaluru",Shell,2-7 Yrs
8,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity,3-8 Yrs
9,Data Scientist,Bangalore/Bengaluru,"Rakuten, Inc.",3-7 Yrs

## Q3: In this question you have to scrape data using the filters available on the webpage:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [152]:
# connect to web driver path:
driver=webdriver.Chrome('chromedriver.exe')

In [153]:
#passing url:
url='https://www.naukri.com/'
driver.get(url)

In [154]:
#search job using id:
search_job=driver.find_element_by_class_name('suggestor-input')
search_job

In [155]:
#search job:
search_job.send_keys('Data scientist')

In [156]:
#check location using absolute xpath:
loc_check=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
loc_check.click()

In [158]:
#search bar:
search_bar=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_bar.click()

In [159]:
# check salary using absolute xpath:
salary_check=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]")
salary_check.click()

In [163]:
#providing location for job (Delhi/NCR):
search_loc = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
search_loc.click()

In [164]:
#creating a dictionary for storing the information after scraping
#for each job we will scrape the job-title, job-location, company_name, experience_required.

# for job title:
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title = []
for i in title:
    job_title.append(i.text)

    
# for job location:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc = []

for i in loc:
    job_loc.append(i.text)
    
    
# for job company name:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]

for i in comp:
    company.append(i.text)

    
# for experience required:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience=[]

for i in exp:
    experience.append(i.text)

In [165]:
# creat Data Frame of the job-title, job-location (Delhi/NCR), company_name, experience_required: 
# Data scientist as DS 

DS_job=pd.DataFrame({'Job Title':job_title,"Job Location":job_loc,"Company name":company,"Experience required":experience})
DS_job.head(10)

,Job Title,Job Location,Company name,Experience required
0,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs
1,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,2-5 Yrs
2,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
3,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL,2-6 Yrs
4,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
5,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
6,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
7,Data Scientist,Gurgaon/Gurugram(Uday Nagar),Core Diagnostics Private Limited,2-7 Yrs
8,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
9,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [166]:
# connect to web driver path:
driver=webdriver.Chrome('chromedriver.exe')

In [167]:
#passing url:
url='https://www.flipkart.com/'
driver.get(url)

In [168]:
# selecting the require product:
search = driver.find_element_by_class_name("_3704LK")
search.send_keys("Sun Glasses")

In [170]:
# search bar:
search_bar = driver.find_element_by_class_name('L0Z3Pu')
search_bar.click()

In [175]:
#extract data from different pages:
start=0
end=4

#creating a dictionary for storing the information after scraping:

brand = []
price = []
des = []
off = []

for page in range(start,end):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    descp=driver.find_elements_by_class_name('IRpwTa')
    dis=driver.find_elements_by_class_name('_3Ay6Sb')
    
    for i in brands:
        brand.append(i.text)
    for j in prices:
        price.append(j.text)
    for k in descp:
        des.append(k.text)
    for l in dis:
        off.append(l.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [176]:
# all 100 products as per our requirement:
br=brand[0:100]
pr=price[0:100]
pro=des[0:100]
dis=off[0:100]

In [179]:
# creat Data Frame of the Sun Glasses as brand, price, product description and discount:

SunGlasses=pd.DataFrame() 
SunGlasses['Brand']=br
SunGlasses['Product Description'] = pro
SunGlasses['Price']=pr
SunGlasses['Discount']=dis
SunGlasses

,Brand,Product Description,Price,Discount
0,Fastrack,UV Protection Aviator Sunglasses (Free Size),"₹1,509",24% off
1,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹249,58% off
2,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (52)",₹664,66% off
3,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹383,80% off
4,Mi,Polarized Aviator Sunglasses (Free Size),₹999,16% off
...,...,...,...,...
95,Rich Club,"Polarized, UV Protection, Riding Glasses Wayfa...",₹314,73% off
96,GANSTA,"Night Vision, Riding Glasses Aviator Sunglasse...",₹212,85% off
97,Ray-Ban,UV Protection Wrap-around Sunglasses (Free Size),"₹9,169",67% off
98,BKGE,"UV Protection, Polarized Rectangular, Retro Sq...",₹354,86% off
99,Rich Club,Polarized Round Sunglasses (48),₹163,70% off

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage :
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [2]:
# connect to web driver:
driver=webdriver.Chrome('chromedriver.exe')

In [6]:
#passing url:
url='https://www.flipkart.com/search?q=iphone%2011&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
driver.get(url)

In [8]:
#WebElement using xpath:
iphone = driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[26]/div/div/nav/a[5]')
iphone.click()

In [10]:
#extract data from different pages:
start=0
end=12

#creating a dictionary for storing the information after scraping:

rating = []
review = []
full = []

for page in range(start,end):
    ratings=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"or"//div[@class='_3LWZlK _1rdVr6 _1BLPMq']")
    reviews=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    descp=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in ratings:
        rating.append(i.text)
    for j in reviews:
        review.append(j.text)
    for k in descp:
        full.append(k.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [21]:
# all 100 products as per our requirement:

r=rating[0:100]
w=review[0:100]
d=full[0:100]

In [24]:
# # creat Data Frame of the Rating Fullreview and descreption:
items = {'rating':r,"review":w,"desription":d}
iphone_reviews=pd.DataFrame.from_dict(items , orient='index')
iphone_reviews

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
rating,5,5,5,5,5,4,5,5,5,5,...,None,None,None,None,None,None,None,None,None,None
review,I love My I Phone 5C!!!,Must buy!,No complaints,Simply awesome,Best phone still @25-27K,Absolute rubbish!,Iphone 5S review,Worthless,Good quality product,Perfect product!,...,No complaints,Simply awesome,Excellent,Must buy!,Iphone 5S review,Worthless,Best phone still @25-27K,Absolute rubbish!,I love My I Phone 5C!!!,Must buy!
desription,Now i know what drives people crazy about I ph...,Still using it in 2019 😂,"If you want a compact, easy-to-hold-and-use ph...",It’s camera quality is superb and very compact...,Purchased at BBD @2016 Oct. After 5months of u...,battery service very bad ..Battery not working...,Well the iPhone 5S is here ! its the best iPho...,There was defect in camera lens,impressively Nice......\nOne of the greatest i...,Nice products thanks flkat,...,"If you want a compact, easy-to-hold-and-use ph...",It’s camera quality is superb and very compact...,awesome\n\nscreen quality better than any othe...,Its doenst need any review i guess so,Well the iPhone 5S is here ! its the best iPho...,There was defect in camera lens,Purchased at BBD @2016 Oct. After 5months of u...,battery service very bad ..Battery not working...,Now i know what drives people crazy about I ph...,Still using it in 2019 😂

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [60]:
#connect to web driver:
driver = webdriver.Chrome(r"C:\driver\chromedriver.exe")

In [61]:
# passing url:
url='https://www.flipkart.com/'
driver.get(url)

In [62]:
# search web element for sneaker:
search = driver.find_element_by_class_name("_3704LK")

In [63]:
# search bar:
search.send_keys("sneakers")

In [64]:
# search button using xpath:
search_btn=driver.find_element_by_class_name("L0Z3Pu")
search_btn.click()

In [65]:
#for extracting data from different pages :
start=0
end=3

#creating a dictionary for storing the information after scraping:

brand = []
price = []
des = []
off = []

for page in range(start,end):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    descp=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    prices=driver.find_elements_by_class_name('_30jeq3')
    dis=driver.find_elements_by_class_name('_3Ay6Sb')
    
    for i in brands:
        brand.append(i.text)
    for j in prices:
        price.append(j.text)
    for k in descp:
        des.append(k.text)
    for l in dis:
        off.append(l.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [66]:
# detail of all 100 products as per our requirement:
bd=brand[0:100]
pr=price[0:100]
dis=des[0:100]
of=off[0:100]

In [67]:
# Data Frame of the Brand, Price, Discount and Discription:
sneakers_info=pd.DataFrame.from_dict({'Brand':bd,"Price":pr,"Description":dis,"Discount":of},  orient='index')
sneakers_info

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
Brand,RED TAPE,RED TAPE,Magnolia,URBANBOX,Labbin,luxury fashion,Stefano Rads,RED TAPE,SCATCHITE,BIRDE,...,BRUTON,RED TAPE,D-SNEAKERZ,Dizzler,HOC,RED TAPE,SPARX,Edoeviv,SPADE CLUB,RED TAPE
Price,"₹1,678","₹1,258",₹398,₹220,₹499,₹449,₹242,"₹1,258",₹398,₹299,...,₹449,₹259,₹398,"₹1,258",₹499,₹429,₹499,"₹1,648",₹499,₹449
Description,Classic Sneakers For Men,Sneakers For Men,Sneakers For Men,Sneakers For Men,Luxury Fashionable casual sneaker shoes Sneake...,Sneakers For Men,Sneakers Sneakers For Men,Sports Running Shoes Sneakers For Men,411 Casual Sneakers For Men,Sneakers For Men,...,"New Fashion Outdoor Trendy Lightweight Casual,...",Classic Sneakers For Men,Modern & Trendy Collection Combo Pack of 02 Sh...,Sneakers For Men,Classic Sneakers For Men,LEBRON 2.0 Sneakers For Men,Sneakers For Men,Sneakers For Men,None,None
Discount,70% off,70% off,60% off,77% off,50% off,65% off,65% off,70% off,60% off,40% off,...,48% off,60% off,70% off,50% off,57% off,61% off,70% off,50% off,55% off,78% off

## Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [42]:
#connect to web driver
driver = webdriver.Chrome(r"C:\driver\chromedriver.exe")

In [43]:
#passing url:
url='https://www.myntra.com/shoes'
driver.get(url)

In [44]:
# Get Price by using absolute xpath:
price_check=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_check.click()

In [45]:
# Get color by using absolute xpath:
color =driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color.click()

In [50]:
#for extracting data from different pages :
start=0
end=2

#creating a dictionary for storing the information after scraping:
brand = []
price = []
des = []

for page in range(start,end):
    brands=driver.find_elements_by_class_name('product-brand')
    descp=driver.find_elements_by_xpath("//h4[@class='product-product']")
    prices=driver.find_elements_by_class_name('product-price')
    
    
    for i in brands:
        brand.append(i.text)
    for j in prices:
        price.append(j.text)
    for k in descp:
        des.append(k.text)
 
    nxt_button=driver.find_elements_by_xpath("//li[@class='pagination-next']")

In [51]:
# Data Frame of the Brand, Price and Discription:
myntra=pd.DataFrame({'Brand':brand,"Price":price,"Description":des})
myntra

,Brand,Price,Description
0,Puma,Rs. 7149Rs. 12999(45% OFF),Men Running Shoes
1,Puma,Rs. 7799Rs. 12999(40% OFF),Men Magnify Nitro Running
2,Saint G,Rs. 9265Rs. 10900(15% OFF),Men Mid-Top Chelsea Boots
3,ROSSO BRUNELLO,Rs. 10999,Men Textured Formal Loafers
4,Bugatti,Rs. 7999Rs. 9999(20% OFF),Men Running Shoes
...,...,...,...
95,DAVINCHI,Rs. 8990,Men Solid Leather Formal Derbys
96,DAVINCHI,Rs. 8990,Men Textured Formal Leather Loafers
97,Geox,Rs. 7999,Women Solid Leather Pumps
98,Geox,Rs. 10990,Women Solid Leather Pumps
99,Skechers,Rs. 7999,Men STAMINA AIRY Sneakers

## Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

## For “Intel Core i7”

In [180]:
#connecting to web driver
driver=webdriver.Chrome('chromedriver.exe')

In [181]:
#passing url:
url=' https://www.amazon.in/'
driver.get(url)

In [182]:
# search laptop using id:
laptop=driver.find_element_by_id('twotabsearchtextbox')
laptop

In [183]:
# search bar:
laptop.send_keys('Laptop')

In [185]:
# search button using xpath:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search_btn.click()

In [188]:
# Get drivers using absolute xpath:
i7=driver.find_element_by_id('p_n_feature_thirteen_browse-bin/12598163031')
i7.click()

In [189]:
# laptop and its rating:
urls = []

for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    urls.append(i.get_attribute("href"))
urls=urls[0:10]

In [190]:
from selenium.common.exceptions import NoSuchElementException

#Get rating:
rating=[]
for i in urls:
    
    driver.get(i)

    
    try:
        
        r = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        rating.append(r.text)
        
    except NoSuchElementException:
        
        rating.append('-')

In [191]:
rating

['3.8 out of 5',
 '3.6 out of 5',
 '2.6 out of 5',
 '4 out of 5',
 '3.7 out of 5',
 '4.1 out of 5',
 '4.2 out of 5',
 '3.9 out of 5',
 '-',
 '3.6 out of 5']

In [200]:
# get brand and its price:

brand = []
brands=driver.find_elements_by_class_name("p_89")
for i in brands:
    brand.append(i.text)
price = []
prices=driver.find_elements_by_class_name("a-price-whole")
for i in prices:
    price.append(i.text)

In [197]:
# get price:
price=price[0:10]

price

['38,990',
 '25,990',
 '41,990',
 '19,990',
 '29,000',
 '18,499',
 '69,990',
 '72,999',
 '64,100',
 '']

In [236]:
brand = []
brands=driver.find_elements_by_class_name("sponsored-products-truncator-truncated")
for i in brands:
    brand.append(i.text)

In [237]:
brand=brand[0:10]
brand

[]

# For “Intel Core i9”

In [208]:
#connecting to web driver
driver=webdriver.Chrome('chromedriver.exe')
#passing url:
url=' https://www.amazon.in/'
driver.get(url)
# search laptop using id:
laptop=driver.find_element_by_id('twotabsearchtextbox')
laptop
# search bar:
laptop.send_keys('Laptop')

In [209]:
# search button using xpath:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search_btn.click()

In [210]:
#more button:
more_btn=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span")
more_btn.click()

In [211]:
i9=driver.find_element_by_id('p_n_feature_thirteen_browse-bin/16757432031')
i9.click()

In [212]:
# laptop and its rating:
urls = []

for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    urls.append(i.get_attribute("href"))
urls=urls[0:10]

In [213]:
from selenium.common.exceptions import NoSuchElementException

#Get rating:
rating=[]
for i in urls:
    
    driver.get(i)

    
    try:
        
        r = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        rating.append(r.text)
        
    except NoSuchElementException:
        
        rating.append('-')

In [214]:
rating

['4.1 out of 5',
 '4.1 out of 5',
 '-',
 '5 out of 5',
 '4.4 out of 5',
 '5 out of 5',
 '-',
 '-',
 '-',
 '-']

In [216]:
# get brand and its price:
brand = []
brands=driver.find_elements_by_class_name("sponsored-products-truncator-truncated")
for i in brands:
    brand.append(i.text)

In [218]:
brand=brand[0:10]
brand

['HP 15, 11th Gen Intel Core i5-8GB RAM/512GB SSD 15.6-inch(39.6 cm) Laptop,FHD, IPS,...',
 'HP Pavilion 14, Ryzen 5- 8GB RAM/512GB SSD 14 inch(35.6 cm) Laptop, FHD IPS Anti-Gl...',
 'HP Chromebook 14 Intel Celeron N4020-4GB SDRAM/64GB eMMC + 256GB Expandable…',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 +…',
 'HP 15 (2021) AMD Ryzen 3-3250 8 GB RAM, 1TB HDD + 256GB SSD, 15.6 inches FHD Screen...',
 'HP 15, 11th Gen Intel Core i5-8GB RAM/512GB SSD 15.6-inch(39.6 cm) Laptop,FHD, IPS,...',
 'HP 15 (2021) AMD Ryzen 3-3250 8 GB RAM, 1TB HDD + 256GB SSD, 15.6 inches FHD Screen...',
 'HP Pavilion 14, 11th Gen Intel Core i5 8GB RAM/512GB SSD 14 inch(35.6 cm) Laptop, F...',
 'HP Pavilion 14, Ryzen 5- 8GB RAM/512GB SSD 14 inch(35.6 cm) Laptop, FHD IPS Anti-Gl...',
 'HP Chromebook 14 Intel Celeron N4020-4GB SDRAM/64GB eMMC + 256GB Expandable…']

In [234]:
price = []
prices=driver.find_elements_by_class_name("a-price-whole")
for i in prices:
    price.append(i.text)

In [235]:
# get price:
price=price[0:10]

price

['1,43,990',
 '1,44,990',
 '2,00,000',
 '1,39,990',
 '2,65,999',
 '1,89,000',
 '2,25,000',
 '2,45,000',
 '2,57,729']

In [238]:
# Data Frame of the drivers by its Brand, Price and rating:
i7_laptop=pd.DataFrame.from_dict({'Brand':brand,"Price":price,"rating":rating},  orient='index')
i7_laptop

,0,1,2,3,4,5,6,7,8,9
Brand,None,None,None,None,None,None,None,None,None,None
Price,"1,43,990","1,44,990","2,00,000","1,39,990","2,65,999","1,89,000","2,25,000","2,45,000","2,57,729",None
rating,4.1 out of 5,4.1 out of 5,-,5 out of 5,4.4 out of 5,5 out of 5,-,-,-,-

In [239]:
i9_laptop=pd.DataFrame.from_dict({'Brand':brand,"Price":price,"rating":rating},  orient='index')
i9_laptop

,0,1,2,3,4,5,6,7,8,9
Brand,None,None,None,None,None,None,None,None,None,None
Price,"1,43,990","1,44,990","2,00,000","1,39,990","2,65,999","1,89,000","2,25,000","2,45,000","2,57,729",None
rating,4.1 out of 5,4.1 out of 5,-,5 out of 5,4.4 out of 5,5 out of 5,-,-,-,-

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [240]:
#connect web driver:
driver=webdriver.Chrome('chromedriver.exe')

In [241]:
#passing url:
url='https://www.ambitionbox.com/'
driver.get(url)

In [242]:
#for extracting data from different pages :
# search job using xpath:
job=driver.find_element_by_xpath('//a[@class="link jobs"]')
job

job.click()

In [243]:
# search job using xpath:
search_job=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_job

In [244]:
# search job for Data scientist:
search_job.send_keys("Data scientist")

In [245]:
# search button by using xpath:
search_btn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button")
search_btn.click()

In [246]:
# search job by xpath:
loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]')
loc.click()

In [247]:
# search job for noida location by absolute xpath:
location_check=driver.find_element_by_id("location_Noida")
location_check.click()

In [248]:
#creating a dictionary for storing the information after scraping:
#for each job we will scrape the company name, No. of days ago when job was posted, Rating of the company.

# for company name:
name = driver.find_elements_by_xpath("//a[@class='title noclick']")
comp_name = []
for i in name:
    comp_name.append(i.text)

    
# for when job posted:
day = driver.find_elements_by_xpath("//span[@class='body-small-l']")
no_of_days_ago = []

for i in day:
    no_of_days_ago.append(i.text)
    
    
# for rating
rate = driver.find_elements_by_xpath("//span[@class='body-small']")
rating=[]

for i in rate:
    rating.append(i.text)
del no_of_days_ago[1:20:2]

In [249]:
#get length:
print(len(comp_name),len(no_of_days_ago),len(rating))

10 10 10

In [250]:
# creat Data Frame of the company_name, No of days ago job was posted and rating: 
# Data analyst as DA
DA_ambitionbox=pd.DataFrame({'Company name':comp_name,"No of days ago job was posted":no_of_days_ago,"Rating":rating})
DA_ambitionbox.head(10)

,Company name,No of days ago job was posted,Rating
0,HCL - Data Scientist - NLP/Python (2-6 yrs),3d ago,3.8
1,Data Scientist,3d ago,3.9
2,Manager Data Scientist,5d ago,4.0
3,Vice President - Data Science,11d ago,3.7
4,CogniTensor - Data Scientist (2-5 yrs),12d ago,3.8
5,CogniTensor - Data Scientist (2-5 yrs),13d ago,3.8
6,Data Scientist - Data Science/Model Developmen...,24d ago,4.1
7,Manager - Data Scientist - Retail/BFSI (8-15 yrs),24d ago,4.1
8,Data Scientist - Consulting Firm (8-15 yrs),24d ago,4.1
9,Cargo Flash - Operation Research Analyst - Rev...,2d ago,3.8

## Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [251]:
#connect web driver:
driver=webdriver.Chrome('chromedriver.exe')

In [252]:
# passing url: 
url='https://www.ambitionbox.com/'
driver.get(url)

In [253]:
#for extracting data from different pages :
# get salary :
sal = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal.click()

In [254]:
#search for data scientist:
dsci=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
dsci.send_keys('Data Scientist')
dsci.click()

In [255]:
# get data scientist:
ds=driver.find_element_by_xpath("//div[@class='suggestion']")
ds.click()

In [257]:
# find Company name, Number of salaries, Average salary, Minsalary, Max Salary.
# for company name
comp_name = []
name=driver.find_elements_by_class_name('name')
for i in name:
    comp_name.append(i.text.split('\n')[0])
noc=comp_name[0:10]
    
# for salary
sal = []
no_sal=driver.find_elements_by_class_name('name')
for i in no_sal:
    sal.append(i.text.split('\n')[-1])
sal
nos=sal[0:10]

In [258]:
# get min salary:
minimum_salary = []
minm=driver.find_elements_by_class_name('salary-values')
for i in minm:
    minimum_salary.append(i.text.split('\n')[1])
minimum_salary

['₹ 35.0L',
 '₹ 25.0L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 21.3L',
 '₹ 20.5L',
 '₹ 18.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 21.5L']

In [259]:
# get max salary
maximum_salary = []
maxm=driver.find_elements_by_class_name('salary-values')
for i in maxm:
    maximum_salary.append(i.text.split('\n')[-1])
maximum_salary

['₹ 35.0L',
 '₹ 25.0L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 21.3L',
 '₹ 20.5L',
 '₹ 18.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 21.5L']

In [260]:
# get average salary
average_salary = []
avr=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in avr:
    average_salary.append(i.text)
average_salary

['₹ 28.7L',
 '₹ 19.5L',
 '₹ 15.8L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [261]:
# creat Data Frame of the company_name, No of salary, Minimum salary, Maximum salary, and Average salary: 
# Data analyst as DS
DS_salary=pd.DataFrame({'Company name':noc,"No of salary":nos,"Minimum":minimum_salary,"Maximum":maximum_salary,"Average":average_salary})
DS_salary.head(10)

               Company name          No of salary  Minimum  Maximum  Average
0                   Walmart  based on 10 salaries  ₹ 35.0L  ₹ 35.0L  ₹ 28.7L
1                  Ab Inbev  based on 22 salaries  ₹ 25.0L  ₹ 25.0L  ₹ 19.5L
2                        ZS  based on 14 salaries  ₹ 20.0L  ₹ 20.0L  ₹ 15.8L
3         Fractal Analytics  based on 72 salaries  ₹ 22.0L  ₹ 22.0L  ₹ 15.0L
4                     Optum  based on 23 salaries  ₹ 21.3L  ₹ 21.3L  ₹ 15.0L
5              UnitedHealth  based on 49 salaries  ₹ 20.5L  ₹ 20.5L  ₹ 13.5L
6           Tiger Analytics  based on 27 salaries  ₹ 18.5L  ₹ 18.5L  ₹ 13.5L
7                   Verizon  based on 14 salaries  ₹ 21.0L  ₹ 21.0L  ₹ 12.7L
8  Ganit Business Solutions  based on 13 salaries  ₹ 15.0L  ₹ 15.0L  ₹ 12.4L
9                  Ericsson  based on 42 salaries  ₹ 21.5L  ₹ 21.5L  ₹ 11.9L